
@{
    ViewData["Title"] = "Measurment";
}

<h1>Measurment</h1>

<div class="form-group">
    <label for="measurment_nameInput">Name</label>
    <input type="text" class="form-control" id="measurment_nameInput" placeholder="Enter name">
</div>

<div class="form-group">
    <label for="measurment_nameInput">Value</label>
    <input type="number" class="form-control" id="measurment_valueInput" placeholder="Enter value/>"
</div>

<button type="button" class="btn btn-primary"> Add</button>
 
